.header {
	position: fixed;
	width: 100%;
	height: 140px;
	background-color: yellow;
}

.header-div {
	float: left;
	width: 150px;
	height: 95px;
	margin-left: 140px;
	margin-right: 119px;
	margin-top: 20px;
}
.div-p { font-size: 55px; }
.div-p-2 { font-size: 24px; }


.header-div-2 {
	float: left;
    width: 473px;
    height: 23px;
    margin-top: 48px;
}

.nav-li {
	display: inline-block;
}

.nav-li-a {
	color: black;
	font-size: 16px;
}
.li-a { margin-right: 42px; }



body { height: 5000px; }